body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: radial-gradient(#FFF, #DDD);
}

main{
    flex: 1 0 auto;
}

#brand-logo{
    padding: 0 15px;
    display: flex;
}

#brand-logo > img{
    width: 38px;
    height: 38px;
    margin: 13px 5px;
}

#brand-logo > div{
    line-height: 64px;
    height: 64px;
}

@media only screen and (max-width: 992px){
    #brand-logo > img{
        width: 34px;
        height: 34px;
        margin: 11px 5px;
    }

    #brand-logo > div{
        line-height: 56px;
        height: 56px;
    }
}

@media only screen and (min-width: 601px){
    #brand-logo > img{
        width: 38px;
        height: 38px;
        margin: 13px 5px;
    }
}

.whitesilver{
    background-image: radial-gradient(#FFF, #F0F0F0);
}

#horizontalmenu{
    display: flex
}

#horizontalmenu > .item{
    line-height: 64px;
    height: 64px;
    color: #FFF;
    padding: 0 5px;
}
a.image{
    line-height: 64px;
    height: 64px;
    padding: 0 3px;
}

a.image > img{
    margin: 20px 0;
    width: 24px;
}

a.image > span.fa{
    margin: 20px 0;
    width: 24px;
    font-size: 32px;
}
.land{
    background-image: url(../images/samples/277597_web-developer-wallpaper.jpg);
    background-position: center top;
    background-size: cover;
}

.land > .content{
    padding: 150px 0 230px 0;
    color: #FFF;
    text-align: center;
}

.land > .content > a.btn{
    height: 74px;
    line-height: 74px;
}

.container.me{
    margin-top: -100px;
    background-color: #FFF;
    padding: 10px;
    margin-bottom: 20px;
}

.title{
    font-size: 24px;
    text-align: center;
    padding: 20px 0;
}

.pad5{
    padding: 5px;
}

.pad150{
    padding: 15px 0;
}

.mar150{
    margin: 15px 0;
}

.bpad50{
    padding-bottom: 50px;
}

.flex{
    display: flex;
}

.block{
    display: block;
}


.fs16{
    font-size: 16px;
}
.fs12{
    font-size: 12px;
}
.fs10{
    font-size: 10px;
}

.w100{
    width: 100%;
}
.mb20{
    margin-bottom: 20px;
}

.categories > div.col{
    line-height: 2.5;
}

.carouselme{
    display: flex;
    width: 100%;
    white-space: nowrap;
    word-wrap: normal;
    overflow: auto;
}
.carouselme > .item{
    padding: 10px;
}

.carouselme > .item > .caption{
    text-align: center;
}

.menu > .tab{
    word-wrap: break-word;
    padding: 0.5rem 0;
}

.menu > .tab.active{
    background-color: #263238 !important;   
}

.menu > .tab > a{
    display: block;
}

.collapsible > li > div.collapsible-body{
    padding: 0 2rem;
    background-color: #FFF;
}

.collapsible > li > div.collapsible-header > a{
    display: block;
    width: 100%;
    color: rgba(0,0,0,0.87);
}

.mbreadcrumb{
    display: flex;
}

.mbreadcrumb > li{
    line-height: 37px;
    height: 37px;
    color: #808080;
}

.mbreadcrumb > li > a{
    color: #808080;
    line-height: 37px;
    height: 37px;
}

.mbreadcrumb > li > a > i{
    height: 37px;
    padding-top: 7px;
    position: absolute;
}

.mbreadcrumb > li > a:hover{
    color: #909090;
}


.mbreadcrumb > li:before {
    content: '\E5CC';
    color: #CCC;
    vertical-align: top;
    display: inline-block;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 25px;
}

.mbreadcrumb > li:first-child:before {
  display: none;
}

.mbreadcrumb > li:last-child > a{
    color: #666;
}

.mbreadcrumb > li:last-child > a:hover{
    color: #777;
}

.col.m9.white{
    min-height: 600px; 
}

#project_opt > div{
    padding: 10px;
}

#project_opt > div.col.m4{
    text-align: right;
    font-weight: bold;
}

@media only screen and (max-width: 770px){
    #project_opt > div.col.m4{
        text-align: left;
        width: 100%;
    }
}

.messages{
    width: 100%;
    display: flex;
    min-height: 500px;
}

.messages > .persons{
    width: 30%;
    background-color: #FFF;
    border-radius: 2px;
    overflow: auto;
    border-right: 1px solid #e0e0e0;
}

.messages > .persons > .item{
    height: 64px;
    display: flex;
    color: #666;
    font-size: 16px;
    line-height: 64px;
    word-break: break-word;
    word-wrap: break-word;
}

.messages > .persons > .item:hover{
    background-color: #DDD;
}

.messages > .persons > .item > img{
    height: 50px;
    width: 50px;
    margin: 8px 7px 6px 7px;
    border: 1px solid #e0e0e0;
}

.messages > .persons > .item > div.info {
    width: 100%;
}

.messages > .persons > .item > div.second-content{
    text-align: right;
    width: 64px;
    padding-right: 7px;
    font-size: 11px;
}

.messages > .persons > .item > div.second-content > span{
    padding: 1px 4px;
    background-color: #26a69a;
    color: #FFF;
    border-radius: 2px;
    font-weight: bold;
}
.messages > .persons > .item > div.second-content > span:after{
    content: " new";
    font-weight: normal;
}

.messages > .conversation{
    width: 100%;
    background-color: #FFF;
}

.messages > .conversation > .header{
    height: 55px;
    border-bottom: 1px solid #e0e0e0;
}

.messages > .conversation > .writer{
    height: 46px;
    display: flex;
}

.messages > .conversation > .writer > .message{
    width: 100%;
    font-size: 15px;
}

.messages > .conversation > .writer > .message > input{
    margin-bottom: 0;
    padding: 0 10px;
    box-sizing: border-box;
}

.messages > .conversation > .writer > .send > button, .messages > .conversation > .writer > .send > button > i{
    height: 46px;
    line-height: 46px;
}

.messages > .conversation > .msgs{
    height: calc(100% - 100px);
    max-height: calc(100% - 100px);
    overflow-y: scroll;
}

.profile{
    display: flex;
    line-height: 55px;
}

.profile > img{
    width: 41px;
    height: 41px;
    margin: 7px;
    border: 1px solid #e0e0e0;
}

.profile > a > i{
    line-height: 55px;
    padding: 0 10px;
}

.profile > .info{
    width: 100%;
}

.mm{
    margin-bottom: 10px;
    margin-left: 10px;
}

.mm > .header{
    font-weight: bold;
    color: #666;
}

.mm > li > a{
    display: flex;
    color: #666;
    font-size: 14px;
}

.mm > li > a:hover{
    color: #555;
}

.mm > li > a > span{
    line-height: 24px;
}

.mm > li > a > i{
    padding: 0 2px;
    line-height: 24px;
    font-size: 22px;
}

.mcollection{
    margin: 5px 0;
}

.mcollection > a{
    display: flex;
    padding: 3px 2px;
}

.mcollection > a > img{
    width: 38px;
    height: 38px;
}

.mcollection > a > div.header{
    padding: 0 3px;
    line-height: 19px;
}

.mcollection > a > div.header > span{
    display: block;
    font-size: 12px;
    color: orange;
}

.help-block{
    font-size: 12px;
    color: red;
}